body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #eeecf0, #dad3d4);
  color: rgb(14, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  background-color: white;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #f0f0f0;
}

a {
  color: #131212;
  text-decoration: underline;
}
