body {
    font-family: Arial;
    padding: 20px;
}

.user-info, #orderList {
    background: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
}

#editBtn, #placeOrderBtn {
    padding: 10px 20px;
    background: #020658;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.order-item {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
