body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    overflow-y: scroll;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #001a7b;   /* NBSC Blue */
    color: white;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 45px;
    margin-right: 12px;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right input {
    padding: 10px;
    width: 250px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* LOGOUT BUTTON */
.logout-btn {
    background: #ffffff;
    color: #001a7b;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}
.contact-btn {
    background: #ffffff;
    color: #001a7b;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.contact-btn:hover {
    background: #dce3ff;
}

.logout-btn:hover {
    background: #dce3ff;
}

.mobile-toggle-btn {
    background: #ffffff;
    color: #001a7b;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.mobile-toggle-btn:hover {
    background: #dce3ff;
}

/* PRODUCT GRID */
.container {
    margin-top: 120px; /* to avoid navbar overlap */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 0px 40px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.card h3 {
    font-size: 15px;
    margin: 10px 0 5px;
}

.card p {
    margin: 0;
    font-weight: bold;
    color: #333;
}

button {
    background: #001a7b;
    color: white;
    padding: 8px 0;
    width: 80%;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;
}

button:hover {
    background: #0030d4;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px 15px;
    }

    .right {
        width: 100%;
        justify-content: space-between;
    }

    .right input {
        width: 60%;
        margin-bottom: 5px;
    }

    .right button {
        width: 35%;
        padding: 8px 10px;
    }

    .container {
        padding: 0 15px;
        grid-template-columns: 1fr; /* one column */
    }

    .card img {
        height: 150px;
    }

    .card button {
        width: 70%;
    }
}